{% extends "management/base.html" %}
{% load staticfiles %}
{% block title %}智能关联导入{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 well">
                <h2></h2>
                <input id="date" >

                <h3 class="text-center"><span class="text-info"></span></h3>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
{#        alert("hello  world")#}
{#            });#}
         $("#date").datetimepicker({
         language: 'zh-CN',//显示中文
        format: 'yyyy-mm-dd',//显示格式
        format: 'yyyy-mm-dd',//显示格式
        minView: "month",//设置只显示到月份
        todayBtn: true,//显示今日按钮
    })
    </script>

{% endblock %}